doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Resilient Slides
  body
    div(class="reveal")
        div(class="slides")
            include slides/intro.html
            include slides/resilience-ville.html
            include slides/resilience-cloud.html

    script( type="module" src="./main.mjs")